@charset "UTF-8";
body {
    padding: 0;
    margin: 0;
    background-image: url(background.png);
    background-size: cover;
}
wrapper {
    margin: 0 auto;
    display: block;
    width: 100%;
}
header {
    height: 400px;
    clear: both;
    display: block;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: -100px;
    margin-top: 40px;
}
footer {
    padding: 16px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 14px;
    margin-top: 39px;
    background-color: #000;
    color: rgba(255,255,255,1.00);
}
h1, h2, h3 {
    text-align: center;
    font-family: sans-serif;
    color: #000000;
}
section {
    width: 100%;
    display: inline-block;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: -4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}
body wrapper {
}
label {
    display: block;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 16px;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
input, select {
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    width: 90%;
}
#tandc_txt {
    width: auto;
    margin-left: 16px;
    margin-top: -24px;
}
#salute {
    width: 100%;
    display: inline-block;
    margin-right: -4px;
}
#first {
    width: 100%;
    display: inline-block;
    margin-right: -4px;
}
#submit_btn {
    width: 250px;
    margin: 0 auto;
    display: block;
    color: #fff;
    border-radius: 30px;
    background-color: #002AFF;
    font-size: 20px;
}
#fight {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media (min-width:62.5em){
wrapper {
    width: 80%;
}
}

@media (min-width:75em){
label {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -4px;
    text-align: right;
}
input, select {
    width: 72%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -4px;
}
}

@media (min-width:125em){
section {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -4px;
}
label {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}
input, select {
    width: 90%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -4px;
}
#salute {
    width: 25%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -4px;
}
#first {
    width: 72%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: -4px;
}
}
